[submodule "backend"]
	path = backend
	url = https://github.com/gblzera/curriculo-generator-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/gblzera/curriculo-generator-frontend.git
